.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td {
    border-style: none;
}

.body {
    padding: 0 !important;
}

.bodyGlobal{
    margin-top: 50px;
}

.errorMsg{
    display: none;
}

#presentation{
    margin-top: 20vh;
}

#greeting{
    font-family: 'Tangerine', cursive;
    font-weight: 600;
    font-size: 100px;
    text-shadow: 4px 4px #444444;
}

.desc{
    font-family: 'Tangerine', cursive;
    font-size: 55px;
    font-weight: 400;
    color: #FFF;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
}

#accountButton{
    padding-top: 5px;
}

#formLogOut{
    margin: 0px;
}

#footer{
    padding: 0 !important; 
}

footer a, footer h3, footer ul, .copyleftDiv{
    color: #D9D9DE;
    text-decoration: none;
    list-style-type: none;
}

#repodroid-footer-hr{
    border: 0; height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

.repodroid-copyleft {
    display: inline-block;
    margin: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
}

footer a:hover{
    text-decoration: none;
    color: #ffffff;
}


.logo{
    font-family: 'Tangerine', cursive;
    font-size: 30px !important;
}

.userName{
    margin-bottom: 0px;
}

.index{
    background-image: url(http://wallpaperus.org/wallpapers/08/281/cellphones-smartphones-2560x1600-wallpaper-2419294.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw !important;
    color: white;
}

footer{
   background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #4F4F4F),
	color-stop(1, #1A1A1A)
);
background-image: -o-linear-gradient(bottom, #4F4F4F 0%, #1A1A1A 100%);
background-image: -moz-linear-gradient(bottom, #4F4F4F 0%, #1A1A1A 100%);
background-image: -webkit-linear-gradient(bottom, #4F4F4F 0%, #1A1A1A 100%);
background-image: -ms-linear-gradient(bottom, #4F4F4F 0%, #1A1A1A 100%);
background-image: linear-gradient(to bottom, #4F4F4F 0%, #1A1A1A 100%);
}

.foo{
    margin-top:40vh;
}

/*Estilo searchs*/

.selectLabel {
    margin-left: 25%;
}

/*Estilo addSample*/
.submitSample{
    font-size: 20px;
    font-weight: bold;
    margin-left: 20%;
}

.divAddSample{
    padding-top: 65px;
}

.btnCancelAddSample{
    width: 30%;
    margin-left: 15%;
}

.btnSubmitAddSample{
    width: 30%;
    margin-left: 10%;
}

/*Estilo viewUser*/
.divNotLogged{
    margin-top: 50px;
}

.viewUser{
    font-size: 20px;
    font-weight: bold;
    margin-left: 30%;
}

.buttonEditar{
    border-radius:0;
    width: 20%;
    white-space:normal !important;
    word-wrap:break-word; 
}

.sampleList{
    padding-left: 15px;
}

.tituloPosts{
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
}

.sampleCountDiv{
    margin-top: 15px;
}

/*Estilo register*/
.buttonRegistro {
    margin-top: 15px;
    margin-bottom: 15px;
}

#legend {
    margin-top:30px;
}

.btnRegister{
    width: 25%;
    margin-left: 37.5%;
}

#divThumbnail{
    padding:25px;
}

/*Estilo para el sampleview*/
.divAnalysis{
    padding-top: 10px;
}

hr{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #000000 !important;
    border-width: 1px 0 !important;
}

.navbarItem{
    font-size: 15px !important;
}

.analysisList{
    display:none;
}

/* Estilo edit user */
#editBody{
    margin-top: 50px;
}